body {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:100%;
}


h1.maintitle {
    font-family: 'Josefin Sans', sans-serif;
    color: aliceblue;
    margin-left: 10px;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0,0,0,0.9);
}

li {
    float: left;
}

li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Fresca', sans-serif;
}

li a:hover:not(.active) {
    background-color: darkslategrey;
}

li a.active {
    color: white;
    background-color: dimgrey;
}

.container1 {
    position: relative;
    width: 20%;
    margin-top: 85px;
    margin-left: 300px;
}

.container2 {
    position: relative;
    width: 20%;
    top: -350px;
    margin-right: 300px;
    
    float: right;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.9);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.container1:hover .overlay {
    height: 30%;
}

.container2:hover .overlay {
    height: 30%;
}

.text {
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.picture {
    display: block;
    margin: 0 auto;
    margin-top: 5%;
    border: 10px solid rgba(0,0,0,0.9);
}


